/* your custom css */

/* 
.hljs {
  padding: 1em;
  display: block;
  overflow-x: auto;
  background: #f0f0f0 !important;
} */

.codeLink {
  color: blue;
}

.fakeContainer {
  padding-top: 0px;
}

.codeBlock {
  -webkit-overflow-scrolling: touch;
  background: #fcfbfa;
  border-left: solid 3px #eceae9;
  box-sizing: border-box;
  display: block;
  font-size: 0.875em;
  margin: 0.5rem 0;
  overflow-y: scroll;
  padding: 0.5rem 8px 0.5rem 12px;
  white-space: pre;
  position: relative;
}

.memberSignature {
  border-left-color: #9cdae9;
  background: #f8f9fa;
}

.hashLink {
  color: #aaa;
  visibility: hidden;
}

.homeContainer .homeWrapper {
  padding-top: 0px;
}

.homeContainer .projectTitle {
  margin-top: 0px !important;
}

blockquote {
  background-color: rgba(100, 196, 255, 0.3);
  border-left: 8px solid #64c4ff;
}

blockquote.warn {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 8px solid #ffe564;
}

blockquote.good {
  background-color: rgba(100, 255, 149, 0.3);
  border-left: 8px solid #64ff95;
}

blockquote.bad {
  background-color: rgba(255, 110, 100, 0.3);
  border-left: 8px solid #ff6e64;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .separateOnPageNav .docsNavContainer {
    flex: 0 0 200px;
  }
  .urlInput {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
